PORT=9000
LOGGER_TYPE=console
NODE_ENV=dev
NODE_PATH=app/src
JWT_SECRET=mysecret
COOKIE_DOMAIN=mymachine
SESSION_KEY=test
DEBUG=redis-cache-plugin
PUBLIC_URL=http://authorization.dev:9000
REDIS_PORT_6379_TCP_ADDR=redis
REDIS_PORT_6379_TCP_PORT=16379
TEST_GOOGLE_OAUTH2_CLIENT_ID=
TEST_FACEBOOK_OAUTH2_APP_ID=
TEST_FACEBOOK_OAUTH2_APP_SECRET=
GFW_TWITTER_CONSUMER_KEY
GFW_TWITTER_CONSUMER_SECRET
RW_TWITTER_CONSUMER_KEY
RW_TWITTER_CONSUMER_SECRET
PREP_TWITTER_CONSUMER_KEY
PREP_TWITTER_CONSUMER_SECRET
